# Pandas 패키지를 활용한 데이터 분석

- 패키지 사용전 패키지 호출
- 자주 사용하는 패키지는 이름을 변경해 사용

In [2]:
import pandas as pd

- 만약 설치가 안되어있다면 jupyter cell에서 설치 후 사용 가능

In [3]:
# ! pip install pandas

## 데이터프레임 생성

- 리스트로 생성하기

In [4]:
data= [
    ["1000","steve",90],
    ["1001","james",70]
        ]

In [5]:
data

[['1000', 'steve', 90], ['1001', 'james', 70]]

In [6]:
df = pd.DataFrame(data)

In [7]:
df

      0      1   2
0  1000  steve  90
1  1001  james  70

- 딕셔너리로 생성하기

In [8]:
data = {0:["1000","1001"],1:["steve","james"],2:[90,70]}

In [9]:
pd.DataFrame(data)

      0      1   2
0  1000  steve  90
1  1001  james  70

## 데이터프레임 호출

In [10]:
# 현재위치파악
import os
os.getcwd()

'D:\\남정재\\문서\\2020 Open Up 공개SW전문교육 빅데이터(심화)'

In [11]:
df = pd.read_csv("./data/movie.csv")

In [12]:
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

- 파일에 따라 인코딩 방법을 설정해줘야 할 수 있음

In [13]:
df = pd.read_csv("./data/movie.csv",encoding="utf-8")

In [14]:
df.head(1)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000

- 아래와 같은 데이터 형태를 호출하는 경우에는 구분자를 설정해 주어야 한다
- "http://courses.washington.edu/b517/Datasets/string.txt"

In [15]:
df = pd.read_csv("http://courses.washington.edu/b517/Datasets/string.txt",sep="\t")
df

     x        y
0   10  34.7081
1   12  34.5034
2   14  36.5656
3   16  38.3125
4   18  42.5441
5   20  43.7210
6   22  45.7065
7   24  46.4718
8   26  49.7821
9   28  51.1522
10  30  55.1607
11  32  54.7800
12  34  56.9059
13  36  59.5827
14  38  61.4808
15  40  65.4764
16  42  65.8270
17  44  66.5816
18  46  68.5623
19  48  72.0188
20  50  73.1321

- 호출 시 어떠한 컬럼을 인덱스로 사용할지 컬럼명을 이용해 정할 수 있다.

In [16]:
df = pd.read_csv("./data/movie.csv",index_col=1)
df

,color,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
director_name,,,,,,,,,,,,,,,,,,,,,
James Cameron,Color,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Gore Verbinski,Color,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Sam Mendes,Color,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
Christopher Nolan,Color,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Doug Walker,NaN,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Scott Smith,Color,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,Eric Mabius,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
NaN,Color,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
Benjamin Roberds,Color,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,Eva Boehnke,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
Daniel Hsia,Color,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,Alan Ruck,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
Jon Gunn,Color,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,John August,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

- 컬럼명을 모르는 경우 인덱스로 지정할 수 있다.

## 데이터프레임 정보 확인

In [17]:
df = pd.read_csv("./data/movie.csv")

In [18]:
# 열은 다보여주고 행은 100행까지만 보여라.
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)

In [19]:
df.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

- 데이터 상위/하위 행 호출

In [20]:
df.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,8,143,NaN,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [21]:
df.tail(4)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,1753,Sam Underwood,1.0,cult|fbi|hideout|prison escape|serial killer,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,0,David Chandler,0.0,NaN,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,2386,Eliza Coupe,5.0,NaN,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,John August,My Date with Drew,4285,163,Jon Gunn,0.0,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

- 데이터프레임 정보 확인

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

- 데이터프레임 메소드

In [23]:
index = df.index
columns = df.columns
data = df.values

In [24]:
index

RangeIndex(start=0, stop=4916, step=1)

In [25]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [26]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

- 각 열의 데이터 타입 확인

In [27]:
df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

- 데이터프레임의 열 추출

## Series 기본 메소드

In [28]:
series_1 = df["director_name"]

In [29]:
series_1

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [30]:
type(series_1)

pandas.core.series.Series

- Series -> DataFrame

In [31]:
series_1.to_frame()

          director_name
0         James Cameron
1        Gore Verbinski
2            Sam Mendes
3     Christopher Nolan
4           Doug Walker
...                 ...
4911        Scott Smith
4912                NaN
4913   Benjamin Roberds
4914        Daniel Hsia
4915           Jon Gunn

[4916 rows x 1 columns]

- Series의 고유값의 빈도수를 계산

pd.Series.value_counts(normalize=False, # False면 개수, True면 상대 비율 구함
           sort=True, # True면 개수 기준 정렬, False면 유일한 값 기준 정렬
           ascending=False, # False면 내림차순 정렬, True면 오름차순 정렬
           bins=None, # None이면 유일값 기준 개수, None아니면 Bins Group별 개수
           dropna=True # True면 NaN 무시, False면 유일값에 NaN 포함)

In [32]:
series_1.value_counts()

Steven Spielberg       26
Woody Allen            22
Clint Eastwood         20
Martin Scorsese        20
Spike Lee              16
                       ..
Thaddeus O'Sullivan     1
Mel Stuart              1
Yuefeng Song            1
John Murlowski          1
Maksim Fadeev           1
Name: director_name, Length: 2397, dtype: int64

In [33]:
series_1.value_counts(normalize=True)
# 옵션으로 normalize=True면 상대비율, False면 개수 구한다.

Steven Spielberg       0.005401
Woody Allen            0.004570
Clint Eastwood         0.004155
Martin Scorsese        0.004155
Spike Lee              0.003324
                         ...
Thaddeus O'Sullivan    0.000208
Mel Stuart             0.000208
Yuefeng Song           0.000208
John Murlowski         0.000208
Maksim Fadeev          0.000208
Name: director_name, Length: 2397, dtype: float64

- Series의 크기 계산기

In [34]:
series_1.size

4916

In [35]:
series_1.shape

(4916,)

In [36]:
len(series_1)

4916

In [37]:
df.shape

(4916, 28)

- 각 Series의 기초통계량

In [38]:
series_1 = df["budget"]

In [39]:
series_1.min()

218.0

In [40]:
series_1.max()

4200000000.0

In [41]:
pd.set_option('display.float_format', '{:.2f}'.format)
# 소숫점 2번째 자리까지 보이도록 string 형식 지정

In [42]:
series_1.describe()

count         4432.00
mean      36547486.03
std      100242679.25
min            218.00
25%        6000000.00
50%       19850000.00
75%       43000000.00
max     4200000000.00
Name: budget, dtype: float64

- 각 Series의 결측치 확인

In [43]:
series_1.hasnans

True

- Series 기본계산

In [44]:
series_1.isnull()

0       False
1       False
2       False
3       False
4        True
        ...
4911     True
4912     True
4913    False
4914     True
4915    False
Name: budget, Length: 4916, dtype: bool

In [45]:
series_1.shape

(4916,)

In [46]:
series_1.isnull().sum()

484

In [47]:
series_1.fillna(0,inplace=True)

In [48]:
df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [49]:
df["num_critic_for_reviews"].fillna("-",inplace=True)

In [50]:
series_1.add(1)

0      237000001.00
1      300000001.00
2      245000001.00
3      250000001.00
4              1.00
           ...
4911           1.00
4912           1.00
4913        1401.00
4914           1.00
4915        1101.00
Name: budget, Length: 4916, dtype: float64

In [51]:
series_1 + 1

0      237000001.00
1      300000001.00
2      245000001.00
3      250000001.00
4              1.00
           ...
4911           1.00
4912           1.00
4913        1401.00
4914           1.00
4915        1101.00
Name: budget, Length: 4916, dtype: float64

In [52]:
series_1.mul(2)

0      474000000.00
1      600000000.00
2      490000000.00
3      500000000.00
4              0.00
           ...
4911           0.00
4912           0.00
4913        2800.00
4914           0.00
4915        2200.00
Name: budget, Length: 4916, dtype: float64

In [53]:
series_1 * 2

0      474000000.00
1      600000000.00
2      490000000.00
3      500000000.00
4              0.00
           ...
4911           0.00
4912           0.00
4913        2800.00
4914           0.00
4915        2200.00
Name: budget, Length: 4916, dtype: float64

In [54]:
series_1.gt(7)

0        True
1        True
2        True
3        True
4       False
        ...
4911    False
4912    False
4913     True
4914    False
4915     True
Name: budget, Length: 4916, dtype: bool

In [55]:
series_1 > 7

0        True
1        True
2        True
3        True
4       False
        ...
4911    False
4912    False
4913     True
4914    False
4915     True
Name: budget, Length: 4916, dtype: bool

In [56]:
series_1.eq(7)

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: budget, Length: 4916, dtype: bool

In [57]:
series_1 ==7

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: budget, Length: 4916, dtype: bool

## DataFrame 기본 메소드

- DataFrame rename 메소드

In [58]:
sample_df=pd.DataFrame({"col_1":[1,2],"col_2":[3,4]},index=["index_1","index_2"])

In [59]:
sample_df

         col_1  col_2
index_1      1      3
index_2      2      4

In [60]:
idx_rename = {"index_1":"index_1_rename",
             "index_2":"index_2_rename"}

In [61]:
col_rename = {"col_1":"col_1_rename",
             "col_2":"col_2_rename"}

In [62]:
df_rename = sample_df.rename(index=idx_rename, columns=col_rename)

In [63]:
df_rename

                col_1_rename  col_2_rename
index_1_rename             1             3
index_2_rename             2             4

In [64]:
df_rename.columns = ["col1","col2"]

In [65]:
# 아래와 같이 길이가 맞지 않으면 에러가 난다.
# df_rename.columns = ["col1","col2","col3"]

In [66]:
df_rename

                col1  col2
index_1_rename     1     3
index_2_rename     2     4

- DataFrame 다중열 선택

In [67]:
sample_df[["col_1","col_2"]]

         col_1  col_2
index_1      1      3
index_2      2      4

In [68]:
df=pd.read_csv('./data/movie.csv')

In [69]:
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.00,178.00,0.00,855.00,Joel David Moore,1000.00,760505847.00,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.00,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.00,English,USA,PG-13,237000000.00,2009.00,936.00,7.90,1.78,33000
1,Color,Gore Verbinski,302.00,169.00,563.00,1000.00,Orlando Bloom,40000.00,309404152.00,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.00,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.00,English,USA,PG-13,300000000.00,2007.00,5000.00,7.10,2.35,0
2,Color,Sam Mendes,602.00,148.00,0.00,161.00,Rory Kinnear,11000.00,200074175.00,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,1.00,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.00,English,UK,PG-13,245000000.00,2015.00,393.00,6.80,2.35,85000
3,Color,Christopher Nolan,813.00,164.00,22000.00,23000.00,Christian Bale,27000.00,448130642.00,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.00,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.00,English,USA,PG-13,250000000.00,2012.00,23000.00,8.50,2.35,164000
4,NaN,Doug Walker,nan,nan,131.00,nan,Rob Walker,131.00,nan,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,8,143,NaN,0.00,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,nan,NaN,NaN,NaN,nan,nan,12.00,7.10,nan,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.00,87.00,2.00,318.00,Daphne Zuniga,637.00,nan,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,2283,Crystal Lowe,2.00,fraud|postal worker|prison|theft|trial,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,6.00,English,Canada,NaN,nan,2013.00,470.00,7.70,nan,84
4912,Color,NaN,43.00,43.00,nan,319.00,Valorie Curry,841.00,nan,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,1753,Sam Underwood,1.00,cult|fbi|hideout|prison escape|serial killer,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,359.00,English,USA,TV-14,nan,nan,593.00,7.50,16.00,32000
4913,Color,Benjamin Roberds,13.00,76.00,0.00,0.00,Maxwell Moody,0.00,nan,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,0,David Chandler,0.00,NaN,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,3.00,English,USA,NaN,1400.00,2013.00,0.00,6.30,nan,16
4914,Color,Daniel Hsia,14.00,100.00,0.00,489.00,Daniel Henney,946.00,10443.00,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,2386,Eliza Coupe,5.00,NaN,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,9.00,English,USA,PG-13,nan,2012.00,719.00,6.30,2.35,660
4915,Color,Jon Gunn,43.00,90.00,16.00,16.00,Brian Herzlinger,86.00,85222.00,Documentary,John August,My Date with Drew,4285,163,Jon Gunn,0.00,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.00,English,USA,PG,1100.00,2004.00,23.00,6.60,1.85,456

- 데이터 타입이 int인 경우만 선택

In [70]:
df.shape

(4916, 28)

In [71]:
df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [72]:
df.select_dtypes(include=["int"])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[4916 rows x 0 columns]

- 컬럼명에 특정 문자가 들어가는 경우

In [73]:
df.filter(like="facebook")

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
0,0.00,855.00,1000.00,4834,936.00,33000
1,563.00,1000.00,40000.00,48350,5000.00,0
2,0.00,161.00,11000.00,11700,393.00,85000
3,22000.00,23000.00,27000.00,106759,23000.00,164000
4,131.00,nan,131.00,143,12.00,0
...,...,...,...,...,...,...
4911,2.00,318.00,637.00,2283,470.00,84
4912,nan,319.00,841.00,1753,593.00,32000
4913,0.00,0.00,0.00,0,0.00,16
4914,0.00,489.00,946.00,2386,719.00,660
4915,16.00,16.00,86.00,163,23.00,456

- 원하는 순서대로 컬럼 정리

In [74]:
object_col_list= df.select_dtypes(include=["object"]).columns.tolist()
float_col_list =df.select_dtypes(include=["float"]).columns.tolist()
int_col_list= df.select_dtypes(include=["int"]).columns.tolist()

In [75]:
new_col_list = object_col_list + float_col_list + int_col_list

In [76]:
new_col_list

['color',
 'director_name',
 'actor_2_name',
 'genres',
 'actor_1_name',
 'movie_title',
 'actor_3_name',
 'plot_keywords',
 'movie_imdb_link',
 'language',
 'country',
 'content_rating',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_1_facebook_likes',
 'gross',
 'facenumber_in_poster',
 'num_user_for_reviews',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio']

In [77]:
df.head(1)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.00,178.00,0.00,855.00,Joel David Moore,1000.00,760505847.00,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.00,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.00,English,USA,PG-13,237000000.00,2009.00,936.00,7.90,1.78,33000

In [78]:
df = df[new_col_list]

In [79]:
df.head(1)

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio
0,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13,723.00,178.00,0.00,855.00,1000.00,760505847.00,0.00,3054.00,237000000.00,2009.00,936.00,7.90,1.78

- DataFrame의 기초통계량 계산

In [80]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio
count,4867.00,4901.00,4814.00,4893.00,4909.00,4054.00,4903.00,4895.00,4432.00,4810.00,4903.00,4916.00,4590.00
mean,137.99,107.09,691.01,631.28,6494.49,47644514.53,1.38,267.67,36547486.03,2002.45,1621.92,6.44,2.22
std,120.24,25.29,2832.95,1625.87,15106.99,67372553.83,2.02,372.93,100242679.25,12.45,4011.30,1.13,1.40
min,1.00,7.00,0.00,0.00,0.00,162.00,0.00,1.00,218.00,1916.00,0.00,1.60,1.18
25%,49.00,93.00,7.00,132.00,607.00,5019656.25,0.00,64.00,6000000.00,1999.00,277.00,5.80,1.85
50%,108.00,103.00,48.00,366.00,982.00,25043962.00,1.00,153.00,19850000.00,2005.00,593.00,6.60,2.35
75%,191.00,118.00,189.75,633.00,11000.00,61108412.75,2.00,320.50,43000000.00,2011.00,912.00,7.20,2.35
max,813.00,511.00,23000.00,23000.00,640000.00,760505847.00,43.00,5060.00,4200000000.00,2016.00,137000.00,9.50,16.00

In [81]:
df.describe(include=[object])

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
count,4897,4814,4903,4916,4909,4916,4893,4764,4916,4904,4911,4616
unique,2,2397,3030,914,2095,4916,3519,4756,4916,47,65,18
top,Color,Steven Spielberg,Morgan Freeman,Drama,Robert De Niro,The Words,Steve Coogan,based on novel,http://www.imdb.com/title/tt0403358/?ref_=fn_t...,English,USA,R
freq,4693,26,18,233,48,1,8,4,1,4582,3710,2067

- DataFrame의 결측치 계산

In [82]:
df.isnull().sum()

color                       19
director_name              102
actor_2_name                13
genres                       0
actor_1_name                 7
movie_title                  0
actor_3_name                23
plot_keywords              152
movie_imdb_link              0
language                    12
country                      5
content_rating             300
num_critic_for_reviews      49
duration                    15
director_facebook_likes    102
actor_3_facebook_likes      23
actor_1_facebook_likes       7
gross                      862
facenumber_in_poster        13
num_user_for_reviews        21
budget                     484
title_year                 106
actor_2_facebook_likes      13
imdb_score                   0
aspect_ratio               326
dtype: int64

- DataFrame특정컬럼 기준 정렬

In [83]:
df=pd.read_csv('./data/movie.csv')

In [84]:
df.sort_values(by=["cast_total_facebook_likes","movie_facebook_likes"],ascending=[True,False])

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
3287,Color,J.C. Chandor,346.00,106.00,78.00,nan,NaN,0.00,6262942.00,Action|Adventure|Drama,Robert Redford,All Is Lost,59545,0,NaN,0.00,boat|container|sea|shipping container|storm,http://www.imdb.com/title/tt2017038/?ref_=fn_t...,312.00,English,USA,PG-13,9000000.00,2013.00,nan,6.90,2.35,18000
4401,Color,Léa Pool,23.00,97.00,4.00,nan,NaN,nan,24784.00,Documentary,NaN,"Pink Ribbons, Inc.",591,0,NaN,0.00,breast cancer|comma in title|period in title|p...,http://www.imdb.com/title/tt2035599/?ref_=fn_t...,10.00,English,Canada,Not Rated,1200000.00,2011.00,nan,7.40,nan,5000
4792,Black and White,Carl Theodor Dreyer,54.00,126.00,147.00,0.00,Sylvia Eckhausen,0.00,nan,Drama|Fantasy,Hanne Aagesen,Ordet,9903,0,Ejner Federspiel,0.00,august|doctor|faith|patriarch|prayer,http://www.imdb.com/title/tt0048452/?ref_=fn_t...,49.00,Danish,Denmark,Not Rated,nan,1955.00,0.00,8.10,1.37,863
4617,Color,Marilyn Agrelo,84.00,105.00,2.00,0.00,Eva Carrozza,0.00,8044906.00,Documentary|Family|Music,Heather Berman,Mad Hot Ballroom,3156,0,Paul Daggett,2.00,ballroom dancing|new york city|poise|self conf...,http://www.imdb.com/title/tt0438205/?ref_=fn_t...,65.00,English,USA,PG,nan,2005.00,0.00,7.50,1.85,588
4721,Color,Pan Nalin,15.00,102.00,95.00,nan,NaN,nan,16892.00,Documentary,NaN,Ayurveda: Art of Being,341,0,NaN,0.00,eastern philosophy|healing|india|life,http://www.imdb.com/title/tt0221809/?ref_=fn_t...,12.00,English,India,NaN,300000.00,2001.00,nan,7.60,1.85,379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4312,NaN,John Stockwell,2.00,90.00,134.00,354.00,T.J. Storm,260000.00,nan,Action,Matthew Ziff,Kickboxer: Vengeance,246,261818,Sam Medina,5.00,NaN,http://www.imdb.com/title/tt3082898/?ref_=fn_t...,1.00,NaN,USA,NaN,17000000.00,2016.00,454.00,9.10,nan,0
4485,Color,Johnny Remo,2.00,112.00,74.00,891.00,Randy Wayne,260000.00,96734.00,Action|Drama,Matthew Ziff,Hardflip,606,263584,Raquel Elizabeth Ames,3.00,family relationships|loss of mother|san diego ...,http://www.imdb.com/title/tt1907639/?ref_=fn_t...,5.00,English,USA,PG-13,1000000.00,2012.00,984.00,5.60,1.85,706
4592,Color,Travis Romero,5.00,67.00,4.00,2000.00,Lorraine Ziff,260000.00,nan,Drama|Thriller,Matthew Ziff,Treachery,344,283939,Michael Biehn,5.00,panties|white panties,http://www.imdb.com/title/tt2380301/?ref_=fn_t...,5.00,English,USA,NaN,625000.00,2013.00,21000.00,3.90,nan,0
1212,Color,David R. Ellis,221.00,82.00,160.00,748.00,Andrew Fiscella,164000.00,66466372.00,Horror,Krista Allen,The Final Destination,75345,303717,Shantel VanSanten,0.00,attempted suicide|car crash|collapsing scaffol...,http://www.imdb.com/title/tt1144884/?ref_=fn_t...,290.00,English,USA,R,40000000.00,2009.00,137000.00,5.20,2.35,0
1885,Color,Adam McKay,181.00,98.00,285.00,7000.00,Will Ferrell,640000.00,84136909.00,Comedy,Darcy Donavan,Anchorman: The Legend of Ron Burgundy,267921,656730,Steve Carell,5.00,1970s|anchorman|news anchor|newsroom|tv station,http://www.imdb.com/title/tt0357413/?ref_=fn_t...,577.00,English,USA,PG-13,26000000.00,2004.00,8000.00,7.20,1.85,0

- DataFrame column 추가

In [85]:
import numpy as np

In [86]:
df["new_col_2"] = 0

In [87]:
df.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,new_col_2
0,Color,James Cameron,723.00,178.00,0.00,855.00,Joel David Moore,1000.00,760505847.00,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.00,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.00,English,USA,PG-13,237000000.00,2009.00,936.00,7.90,1.78,33000,0
1,Color,Gore Verbinski,302.00,169.00,563.00,1000.00,Orlando Bloom,40000.00,309404152.00,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.00,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.00,English,USA,PG-13,300000000.00,2007.00,5000.00,7.10,2.35,0,0

In [88]:
df["actor_likes"] = df["actor_1_facebook_likes"] + df["actor_1_facebook_likes"]

In [89]:
df["actor_likes"] = df[["actor_1_facebook_likes","actor_1_facebook_likes"]].apply(lambda row : row[0] + row[1],axis=1)

- DataFrame columns 삭제

In [90]:
df.drop(columns=["new_col_2","actor_likes"],inplace=True)

In [91]:
df[["actor_1_facebook_likes","actor_2_facebook_likes","actor_3_facebook_likes"]]

      actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes
0                    1000.00                  936.00                  855.00
1                   40000.00                 5000.00                 1000.00
2                   11000.00                  393.00                  161.00
3                   27000.00                23000.00                23000.00
4                     131.00                   12.00                     nan
...                      ...                     ...                     ...
4911                  637.00                  470.00                  318.00
4912                  841.00                  593.00                  319.00
4913                    0.00                    0.00                    0.00
4914                  946.00                  719.00                  489.00
4915                   86.00                   23.00                   16.00

[4916 rows x 3 columns]

In [92]:
import gc
gc.collect()

66

- 메모리 관리

In [93]:
df.memory_usage(deep=True)

Index                           128
color                        306262
director_name                343388
num_critic_for_reviews        39328
duration                      39328
director_facebook_likes       39328
actor_3_facebook_likes        39328
actor_2_name                 346635
actor_1_facebook_likes        39328
gross                         39328
genres                       379929
actor_1_name                 346599
movie_title                  356102
num_voted_users               39328
cast_total_facebook_likes     39328
actor_3_name                 346560
facenumber_in_poster          39328
plot_keywords                526262
movie_imdb_link              535844
num_user_for_reviews          39328
language                     314142
country                      297224
content_rating               285670
budget                        39328
title_year                    39328
actor_2_facebook_likes        39328
imdb_score                    39328
aspect_ratio                  39328
movie_facebook_likes          39328
dtype: int64

## 조건을 만족하는 DataFrame호출

- 논리 연산자 통계량 계산

In [94]:
df = pd.read_csv("./data/movie.csv")

In [95]:
series_1 = df["director_facebook_likes"] >100

In [96]:
series_1.shape

(4916,)

In [97]:
series_1.mean()

0.35740439381611067

In [98]:
series_1.value_counts(normalize=True)

False   0.64
True    0.36
Name: director_facebook_likes, dtype: float64

- 다중 논리 연산자 조건

In [99]:
condition_1 = df["director_facebook_likes"] > 100
condition_2 = df["movie_facebook_likes"] >1000

In [100]:
conditions = condition_1 & condition_2

In [101]:
tmp_df = df[conditions]

In [102]:
df.loc[conditions , "director_name"]

3       Christopher Nolan
5          Andrew Stanton
9             David Yates
13         Gore Verbinski
14         Gore Verbinski
              ...
4776        George Miller
4783           Tom Tykwer
4806          Mike Cahill
4810          John Carney
4906        Shane Carruth
Name: director_name, Length: 616, dtype: object

- 특정 값을 가지고 있는 행 호출

In [103]:
df["director_name"].value_counts()

Steven Spielberg       26
Woody Allen            22
Clint Eastwood         20
Martin Scorsese        20
Spike Lee              16
                       ..
Thaddeus O'Sullivan     1
Mel Stuart              1
Yuefeng Song            1
John Murlowski          1
Maksim Fadeev           1
Name: director_name, Length: 2397, dtype: int64

In [104]:
df[df["director_name"]=="Ridley Scott"].head(1)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
22,Color,Ridley Scott,343.00,156.00,0.00,738.00,William Hurt,891.00,105219735.00,Action|Adventure|Drama|History,Mark Addy,Robin Hood,211765,3244,Scott Grimes,0.00,1190s|archer|england|king of england|robin hood,http://www.imdb.com/title/tt0955308/?ref_=fn_t...,546.00,English,USA,PG-13,200000000.00,2010.00,882.00,6.70,2.35,17000

In [105]:
df[df["director_name"].isin(["Ridley Scott","Steven Spielberg"])]["director_name"].value_counts()

Steven Spielberg    26
Ridley Scott        16
Name: director_name, dtype: int64

In [106]:
df = pd.DataFrame({"col1":["value_1","value_2","value_3"],"col2":["value_2","value_2","value_6"]})

In [107]:
df = pd.DataFrame({"col1":[1,2,3],"col2":[4,5,6]})

In [108]:
df["col1"].idxmin()

0

In [109]:
df

   col1  col2
0     1     4
1     2     5
2     3     6

## Groupby 함수

- 단일 열 집합함수 계산

In [110]:
df = pd.read_csv("./data/movie.csv")

In [111]:
tmp_df = df[df["director_name"].isin(["Ridley Scott","Steven Spielberg"])]

In [112]:
tmp_df.groupby(["director_name"]).agg({"director_facebook_likes":"mean"})

                  director_facebook_likes
director_name
Ridley Scott                         0.00
Steven Spielberg                 14000.00

In [113]:
tmp_df.groupby(["director_name"])["director_facebook_likes"].agg(["mean"])

                     mean
director_name
Ridley Scott         0.00
Steven Spielberg 14000.00

In [114]:
import numpy as np

In [115]:
tmp_df.groupby(["director_name"])["director_facebook_likes"].agg([np.mean])

                     mean
director_name
Ridley Scott         0.00
Steven Spielberg 14000.00

In [116]:
tmp_df.groupby(["director_name"])["director_facebook_likes"].mean()

director_name
Ridley Scott           0.00
Steven Spielberg   14000.00
Name: director_facebook_likes, dtype: float64

In [117]:
tmp_df.groupby(["director_name"])["director_facebook_likes"].agg(["min","max","mean","median","sum","count","std","var"])

,min,max,mean,median,sum,count,std,var
director_name,,,,,,,,
Ridley Scott,0.00,0.00,0.00,0.00,0.00,16,0.00,0.00
Steven Spielberg,14000.00,14000.00,14000.00,14000.00,364000.00,26,0.00,0.00

In [118]:
tmp_df.groupby(["director_name"])["director_facebook_likes"].agg(["describe"])

                 describe                                                    \
                    count     mean  std      min      25%      50%      75%
director_name
Ridley Scott        16.00     0.00 0.00     0.00     0.00     0.00     0.00
Steven Spielberg    26.00 14000.00 0.00 14000.00 14000.00 14000.00 14000.00


                      max
director_name
Ridley Scott         0.00
Steven Spielberg 14000.00

- 복수 열 집합함수 계산

In [119]:
df.groupby(["director_name","actor_2_name"])["director_facebook_likes","budget"].agg(["sum","mean","count"])

<ipython-input-119-a0c382da04a6>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["director_name","actor_2_name"])["director_facebook_likes","budget"].agg(["sum","mean","count"])

                                      director_facebook_likes               \
                                                          sum   mean count
director_name      actor_2_name
A. Raven Cruz      Vanilla Ice                           0.00   0.00     1
Aaron Hann         Michael McLafferty                    0.00   0.00     1
Aaron Schneider    Robert Duvall                        11.00  11.00     1
Aaron Seltzer      Carmen Electra                       64.00  64.00     1
Abel Ferrara       Vincent Gallo                       220.00 220.00     1
...                                                       ...    ...   ...
Zoran Lisinac      Brock Baker                           0.00   0.00     1
Álex de la Iglesia Leonor Watling                      275.00 275.00     1
Émile Gaudreault   Luke Kirby                            9.00   9.00     1
Éric Tessier       Michel Côté                           0.00   0.00     1
Étienne Faure      Pierre Prieur                        77.00  77.00     1

                                           budget
                                              sum        mean count
director_name      actor_2_name
A. Raven Cruz      Vanilla Ice         1000000.00  1000000.00     1
Aaron Hann         Michael McLafferty        0.00         nan     0
Aaron Schneider    Robert Duvall       7500000.00  7500000.00     1
Aaron Seltzer      Carmen Electra     20000000.00 20000000.00     1
Abel Ferrara       Vincent Gallo      12500000.00 12500000.00     1
...                                           ...         ...   ...
Zoran Lisinac      Brock Baker          250000.00   250000.00     1
Álex de la Iglesia Leonor Watling     10000000.00 10000000.00     1
Émile Gaudreault   Luke Kirby          5000000.00  5000000.00     1
Éric Tessier       Michel Côté         3200000.00  3200000.00     1
Étienne Faure      Pierre Prieur        500000.00   500000.00     1

[4714 rows x 6 columns]

In [120]:
agg_dict = {"director_facebook_likes":["mean"],"budget":["sum"]}

In [121]:
df.groupby(["director_name","actor_2_name"]).agg(agg_dict)

                                      director_facebook_likes      budget
                                                         mean         sum
director_name      actor_2_name
A. Raven Cruz      Vanilla Ice                           0.00  1000000.00
Aaron Hann         Michael McLafferty                    0.00        0.00
Aaron Schneider    Robert Duvall                        11.00  7500000.00
Aaron Seltzer      Carmen Electra                       64.00 20000000.00
Abel Ferrara       Vincent Gallo                       220.00 12500000.00
...                                                       ...         ...
Zoran Lisinac      Brock Baker                           0.00   250000.00
Álex de la Iglesia Leonor Watling                      275.00 10000000.00
Émile Gaudreault   Luke Kirby                            9.00  5000000.00
Éric Tessier       Michel Côté                           0.00  3200000.00
Étienne Faure      Pierre Prieur                        77.00   500000.00

[4714 rows x 2 columns]

In [122]:
df.select_dtypes(include=[np.number]).describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.00,4901.00,4814.00,4893.00,4909.00,4054.00,4916.00,4916.00,4903.00,4895.00,4432.00,4810.00,4903.00,4916.00,4590.00,4916.00
mean,137.99,107.09,691.01,631.28,6494.49,47644514.53,82644.92,9579.82,1.38,267.67,36547486.03,2002.45,1621.92,6.44,2.22,7348.29
std,120.24,25.29,2832.95,1625.87,15106.99,67372553.83,138322.16,18164.32,2.02,372.93,100242679.25,12.45,4011.30,1.13,1.40,19206.02
min,1.00,7.00,0.00,0.00,0.00,162.00,5.00,0.00,0.00,1.00,218.00,1916.00,0.00,1.60,1.18,0.00
25%,49.00,93.00,7.00,132.00,607.00,5019656.25,8361.75,1394.75,0.00,64.00,6000000.00,1999.00,277.00,5.80,1.85,0.00
50%,108.00,103.00,48.00,366.00,982.00,25043962.00,33132.50,3049.00,1.00,153.00,19850000.00,2005.00,593.00,6.60,2.35,159.00
75%,191.00,118.00,189.75,633.00,11000.00,61108412.75,93772.75,13616.75,2.00,320.50,43000000.00,2011.00,912.00,7.20,2.35,2000.00
max,813.00,511.00,23000.00,23000.00,640000.00,760505847.00,1689764.00,656730.00,43.00,5060.00,4200000000.00,2016.00,137000.00,9.50,16.00,349000.00

In [123]:
df.select_dtypes(include=[object]).describe()

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
count,4897,4814,4903,4916,4909,4916,4893,4764,4916,4904,4911,4616
unique,2,2397,3030,914,2095,4916,3519,4756,4916,47,65,18
top,Color,Steven Spielberg,Morgan Freeman,Drama,Robert De Niro,The Words,Steve Coogan,based on novel,http://www.imdb.com/title/tt0403358/?ref_=fn_t...,English,USA,R
freq,4693,26,18,233,48,1,8,4,1,4582,3710,2067

In [124]:
df = pd.read_csv("./data/movie.csv")

In [125]:
df.head(1)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.00,178.00,0.00,855.00,Joel David Moore,1000.00,760505847.00,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.00,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.00,English,USA,PG-13,237000000.00,2009.00,936.00,7.90,1.78,33000

## Multiindex 처리

In [126]:
tmp_df = df.groupby(["director_name","actor_2_name"]).agg(agg_dict)

In [127]:
new_col = []
for col in tmp_df.columns:
    new_value = "{}-{}".format(col[0] , col[1])
    new_col.append(new_value)

In [128]:
"{}-{}".format(1,2)

'1-2'

In [129]:
tmp_df.columns = ["{}-{}".format(col[0],col[1]) for col in tmp_df.columns.tolist()]

In [130]:
tmp_df.columns

Index(['director_facebook_likes-mean', 'budget-sum'], dtype='object')

In [131]:
"abcd_{}".format(2)

'abcd_2'

## Groupby X 병렬처리

In [132]:
from multiprocessing import cpu_count , Pool

In [133]:
def applyPrallel(dfGrouped , func):
    
    with  Pool(cpu_count()) as p:
        
        ret_list = p.map(func , [group for name , group in dfGrouped])
    return pd.concat(ret_list)

In [134]:
cpu_count()

4

In [135]:
grouped_df = df.groupby(["director_name"])

In [136]:
df.head(1)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.00,178.00,0.00,855.00,Joel David Moore,1000.00,760505847.00,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.00,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.00,English,USA,PG-13,237000000.00,2009.00,936.00,7.90,1.78,33000

In [137]:
def custom_func(df):
    df["new_col"] = df["num_critic_for_reviews"] + df["duration"]
    return df

In [ ]:
df = applyPrallel(grouped_df, custom_func)

In [ ]:
df

## apply 함수 사용방법

In [ ]:
df.dropna(subset=["color"],inplace=True)

In [ ]:
df = pd.read_csv("./data/movie.csv")

In [ ]:
def change_c(x):
    
    try:
        result = x.replace("C","D")
    except AttributeError as e:
        result = np.nan
    return result

In [ ]:
df["color_D"] = df["color"].apply(lambda x : change_c(x))

In [ ]:
df["new_col"] = df[["num_critic_for_reviews", "duration"]].apply(lambda row: row[0] + row[1] ,axis=1)

In [ ]:
df[["new_col","num_critic_for_reviews","duration"]]

## 데이터 재구성

- stack을 이용해 변수값을 변수 이름으로 정돈

In [ ]:
state_fruit = pd.read_csv("./data/state_fruit.csv",index_col=0)

In [ ]:
state_fruit

In [ ]:
state_fruit.stack()

In [ ]:
state_fruit.stack().reset_index()

In [ ]:
state_fruit.stack().rename_axis(["state","fruit"]).reset_index(name="weight")

- melt을 이용해 변수값을 열 이름으로 정돈

In [ ]:
state_fruit2 = pd.read_csv("./data/state_fruit2.csv")

In [ ]:
state_fruit2

In [ ]:
state_fruit2.melt(id_vars = ["State"] , value_vars=["Apple","Orange","Banana"])

- stack을 이용한 경우 다시 unstack을 이용해 변환

In [ ]:
state_fruit

In [ ]:
state_fruit_stack = state_fruit.stack()

In [ ]:
state_fruit_stack.unstack()

- melt를 이용한 경우 다시 pivot을 이용해 변환

In [ ]:
state_fruit2_melted = state_fruit2.melt(id_vars = ["State"] , value_vars=["Apple","Orange","Banana"],value_name ="Weight")

In [ ]:
state_fruit2_melted

In [ ]:
state_fruit2_melted.pivot(index="State", columns ="variable",values="Weight")

## DataFrame 합치기

- concat을 이용해 2개의 데이터프레임 결합

In [ ]:
stocks_2016 = pd.read_csv("./data/stocks_2016.csv",index_col="Symbol")
stocks_2017 = pd.read_csv("./data/stocks_2017.csv",index_col="Symbol")

In [ ]:
stocks_2016

In [ ]:
stocks_2017

In [ ]:
pd.concat([stocks_2016,stocks_2017],axis=0)

In [ ]:
pd.concat([stocks_2016 , stocks_2017] , keys=["2016","2017"],names=["Yean","Symbol"])

In [ ]:
pd.concat([stocks_2016 , stocks_2017], keys=["2016","2017"] , axis=1 , names =["Years","None"])

In [ ]:
pd.concat([stocks_2016 , stocks_2017], keys=["2016","2017"],join="inner" , axis=1 , names =["Years","None"])

- merge를 이용해 2개의 데이터프레임 결합

In [ ]:
food_prices = pd.read_csv("./data/food_prices.csv")
food_transactions = pd.read_csv("./data/food_transactions.csv")

In [ ]:
food_prices

In [ ]:
food_transactions["Date"] = 2015

In [ ]:
food_transactions

In [ ]:
food_transactions.merge(food_prices,how="inner",on=["item","store","Date"])

In [ ]:
string_values = "2020-10"

In [ ]:
string_values.split("-")

In [ ]:
list_a = ["2020","09","15"]

In [ ]:
"-".join(list_a)

In [ ]:
pd.DataFrame({"col1":[1,2],"date":["2020-01","2020-02"]})

In [ ]:
tmp_df = pd.DataFrame({"col1":[1,2],"date":["2020-01","2020-02"]})

In [ ]:
tmp_df["year"] , tmp_df["month"] = tmp_df["date"].apply(lambda x : x.split("-"))

In [ ]:
tmp_df

## 시계열 함수 처리

- 다양한 형태로 날짜 데이터 생성

In [ ]:
import datetime

In [ ]:
date = datetime.date(year=2013, month=6, day=7)

In [ ]:
date

In [ ]:
time = datetime.time(hour=12, minute=30, second=19, microsecond=444421)

In [ ]:
time

In [ ]:
dt = datetime.datetime(year = 2013 , month =6 , day=7 , hour =12, minute = 30)

In [ ]:
dt

In [ ]:
a = pd.to_datetime("2020-09-15")

In [ ]:
tmp_df = pd.DataFrame({"col1":[1,2],"date"["2020-01","2020-02"]})

In [ ]:
tmp_df.dtypes

In [ ]:
tmp_df["date"] = pd.to_datetime(tmp_df["date"])

In [ ]:
tmp_df.dtypes

In [ ]:
tmp_df

In [ ]:
list(range(1,10))

In [ ]:
date_index = pd.date_range(start="2006-01-02",end="2020-09-15",freq="W-MON")

In [ ]:
random_value = np.random.random(size=len(date_index))

In [ ]:
time_series = pd.Series(index = date_index , data = random_value)

In [ ]:
time_series

- DatetimeIndex인 경우만 작동하는 메서드

In [ ]:
time_series_2 = time_series.resample("M").mean()

In [ ]:
time_series_2.resample("W-MON").mean()

In [ ]:
time_series[time_series == 0.9991566437560621]

In [ ]:
time_series.rolling(window=7,min_periods=1).mean()

In [ ]:
df =pd.read_csv("./data/movie.csv")

In [ ]:
tmp_df = df.groupby(["director_name","color"])["num_critic_for_reviews"].agg(["mean"])

In [ ]:
tmp_df.reset_index(drop=False,inplace=True)

In [ ]:
tmp_df.pivot(index="director_name",columns="color",values="mean")

In [ ]:
df.pivot(index="director_name",columns="color",values="num_critic_for_reviews")

In [ ]:
df